.fvm/flutter_sdk
.fvm/**
pubspec.yaml.bak
arcgis_webpack/node_modules

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
arcgis_map_sdk_android/android/**/gradle-wrapper.jar
arcgis_map_sdk_android/android/.gradle
arcgis_map_sdk_android/android/captures/
arcgis_map_sdk_android/android/gradlew
arcgis_map_sdk_android/android/gradlew.bat
arcgis_map_sdk_android/android/local.properties
arcgis_map_sdk_android/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
arcgis_map_ios/ios/**/*sync/
arcgis_map_ios/ios/**/.sconsign.dblite
arcgis_map_ios/ios/**/.tags*
arcgis_map_ios/ios/**/.vagrant/
arcgis_map_ios/ios/**/DerivedData/
arcgis_map_ios/ios/**/Icon?
arcgis_map_ios/ios/**/Pods/
arcgis_map_ios/ios/**/.symlinks/
arcgis_map_ios/ios/**/profile
arcgis_map_ios/ios/**/xcuserdata
arcgis_map_ios/ios/.generated/
arcgis_map_ios/ios/Flutter/App.framework
arcgis_map_ios/ios/Flutter/Flutter.framework
arcgis_map_ios/ios/Flutter/Flutter.podspec
arcgis_map_ios/ios/Flutter/Generated.xcconfig
arcgis_map_ios/ios/Flutter/app.flx
arcgis_map_ios/ios/Flutter/app.zip
arcgis_map_ios/ios/Flutter/flutter_assets/
arcgis_map_ios/ios/Flutter/flutter_export_environment.sh
arcgis_map_ios/ios/ServiceDefinitions.json
arcgis_map_ios/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!arcgis_map_ios/ios/**/default.mode1v3
!arcgis_map_ios/ios/**/default.mode2v3
!arcgis_map_ios/ios/**/default.pbxuser
!arcgis_map_ios/ios/**/default.perspectivev3
